<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd


        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
    <import resource="jdbc-application.xml"/>
    <context:annotation-config/>

    <context:component-scan base-package="com.oooo"  use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
    </context:component-scan>

    <mvc:annotation-driven/>

   <bean id="testAopService" class="com.oooo.service.TestAopService">
        <property name="id" value="1"/>
    </bean>

   <!-- <bean id="logAop" class="com.oooo.aop.LogAop">
    </bean>-->


<!--  <aop:config>
      <aop:aspect ref="logAop">
         <aop:pointcut id="service" expression="execution(* com.oooo.service.*.*(..))"/>

      </aop:aspect>

      <aop:aspect ref="logAop">
          <aop:pointcut id="service" expression="execution(* com.oooo.service.*.*(..))"/>

          &lt;!&ndash;<aop:before pointcut-ref="service" method="before"/>
          <aop:after pointcut-ref="service" method="after"/>&ndash;&gt;
          <aop:around pointcut-ref="service" method="after"/>
      </aop:aspect>
  </aop:config>-->


</beans>